{% extends "base.html" %}
{% block content %}

    <style>
        .locate {
            position: relative;
            top: 50px;
            left: 500px;
        }
    </style>
    <div class="container">
        <form action="{{ url_for('uploadAlbum') }}" method="POST" enctype="multipart/form-data">
            {{ albumForm.hidden_tag() }}
            <div class="locate">
                <div class="">
                    <p>{{ albumForm.photo() }}</p>
                </div>
                <div style="position: relative; top: 20px">
                    <div class="text-nowrap">
                        给上传的图片加点描述吧
                    </div>
                    {{ albumForm.description() }}
                </div>
                <div style="position: relative; top: 20px">
                    <div>
                        请留下您的名字
                    </div>
                    <p>{{ albumForm.uploader() }}</p>
                </div>
                <div style="position: relative; top: 10px">
                    <p class="btn btn-success">{{ albumForm.submit() }}</p>
                </div>
            </div>

        </form>
    </div>
{% endblock %}